{{>header}}
 <div style="height: 100vh">
        <div class="flex-center flex-column">
            <h2>Are you sure you want to delete this todo?</h2>
<p>You can not revert this action.</p>
<form action="" method="post">
{{!-- leave form empty make it use the post http method on the correct url for deletion --}}
<input type="hidden" name={{todo.id}} id={{todo.id}}> 
<a href="/todos/{{id}}" class="p-2">Undo</a>
<button type="submit" class="ghost-btn p-2" value="Delete">Delete</button>
</form>
        </div>
    </div>
{{>footer}}