{{>header}}
<div class="mx-auto logout">
<h3>Logout ?</h3>
<p>Are you sure you want to log out?</p>
<form action="/users/me/token" method="post">
{{!-- leave form empty make it use the post http method on the correct url for deletion --}}
{{!-- <input type="hidden" name={{todo.id}} id={{todo.id}}>  --}}
<a href="/todos">No, I don't</a>
<button type="submit" class="ghost-btn">Yes, I do</button>
</form>
</div>
{{>footer}}