{{>header}}
<nav class="navbar z-depth-1 p-4 mb-2 mx-auto w-75 ">
{{!-- add name dynamically later--}}
<h3>Your Todos</h3>
<span class="ml-auto">
<a class="nav-item" href="/users/me/token">
Logout <i class="fa fa-sign-out-alt"></i>
</a>

<!-- Button trigger modal -->
<a class="nav-item" data-toggle="modal" data-target="#exampleModal">
 Delete All<i class="fa fa-trash"></i>
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
Delete All Items ?
</div>

<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<form method="post" action="/delete/todos">
<button type="submit" class="btn btn-primary">Delete</button>
</form>
</div>
</div>
</div>
</div>
</span>
</nav>

<div class="main w-75 mx-auto">

<form method="POST" action="/todos" class="form-inline m-1">
<input type="text" class="form-control w-75" name="text" placeholder="Insert new todo">
<button class="ghost-btn btn" type="submit" value="done">Done</button></form>  

  <table class="table table-borderless">
  <tbody>
      {{#each todos}}
    <tr>
      <td><a href="/todos/{{id}}" class="todo-header">{{this.text}}</a></td>
      <td><a href="/update/todos/{{this.id}}"><i class="fa fa-pencil-alt"></i></a>
      </td>
     <td>
     <a href="/delete/todos/{{this.id}}"><i class="fa fa-trash"></i></a>
     </td>
     <td><input class="form-check-input" type="checkbox" value=""></td>
    </tr>
    {{/each}}
    </tbody>
    </table>
</div>

</div>

{{>footer}}