{{>header}}
<div>
<form method="post" action="" class="mx-auto w-50 form-inline">
<input class="form-check-input form-control " name="completed" type="checkbox" value="">
<input class="form-control w-50" type="text" name="text" value="{{todo.text}}">
<button class="ghost-btn" type="submit">Save Changes</button>
</form>
</div>
{{>footer}}