{{>header}}
<div class="w-50 mx-auto">
     <div class="item m-1 p-2"><input class="form-check-input" type="checkbox" value="">
     <a href="" class="todo-header p-4">{{todo.text}}</a>
     <a href="/update/todos/{{todo.id}}"><i class="fa fa-pencil-alt"></i></a>
      <a href="/delete/todos/{{todo.id}}"><i class="fa fa-trash"></i></a>
    </div>
  <a href="/todos">Back to All todos</a>
</div>
{{>footer}}