.pattern-bg{
  background-image: url('/img/background/lemon-pattern.png');

}
body{
    background-color: #FCF8C9;
    color: #004F9F;
    }
h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
}
nav{
  width:100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
p, a, span, form, i{
  font-family: 'Open Sans', sans-serif;
   
}
table tbody tr td a{
  color: #007bff !important;
}
.form-white-bg
{
  background-color: #ffffff;
  max-width: 500px;
}
.ghost-btn
{
  background-color: #FCF8C9 !important; 
  color: #004F9F!important; 
  border: 1px solid #004F9F!important; 
  width: 20% !important; 
  height: calc(2.25rem + 2px);
}
.logout
{
  text-align: center;
}
.item
{
  text-align: center;
  min-width: 60%;
}
.form-check-input
{
  border: 1px solid #004F9F;
}

.main
{
  max-width: 1000px;
}


        